// Credit: Nicolas Gallagher and SUIT CSS.

.ratio {
  position: relative;
  width: 100%;

  &::before {
    display: block;
    padding-top: var(--#{$prefix}aspect-ratio);
    content: "";
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@each $key, $ratio in $aspect-ratios {
  @each $breakpoint in map-keys($grid-breakpoints) { // Custom
    @include media-breakpoint-up($breakpoint) { // Custom
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints); // Custom

      // .ratio-#{$key} {
      .ratio#{$infix}-#{$key} { // Custom
        --#{$prefix}aspect-ratio: #{$ratio};
      }
    } // Custom
  } // Custom
}
